In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.DataFrame (np.random.randint(0,100, size = (1000,12)), columns = list('ABCDEFGHIJKL')) 
print(df)

      A   B   C   D   E   F   G   H   I   J   K   L
0     5  71  39  84  58  21  84  16  62  41  80  42
1    64  83  13  62  10   7  81  33  39  97  87  97
2    94  74  23  15  75  46  86  27  24  41  76  43
3    88  70  63  97   4   8  63  15  98  42  15  89
4    62  64  78  49   4  93  95  89  70  42  42  92
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995  73  60   0  75  84  28  47  17  26  25  85  41
996  74  48  42  54   9   1  65  61  53  30  72  55
997  89  29  60   6  27  82  85  15  49  21  70  20
998  14  30  42  41   3  88  84  87  87  36  35  75
999  26  96  63  72  11  24  82  62   2  52  41  70

[1000 rows x 12 columns]

In [4]:
file = 'Most-Recent-Cohorts-Field-of-Study.csv'

In [5]:
df = pd.read_csv(file)
print(df.head())

     UNITID  OPEID6                    INSTNM CONTROL  MAIN  CIPCODE  \
0  100654.0    1002  Alabama A & M University  Public     1      100
1  100654.0    1002  Alabama A & M University  Public     1      109
2  100654.0    1002  Alabama A & M University  Public     1      110
3  100654.0    1002  Alabama A & M University  Public     1      110
4  100654.0    1002  Alabama A & M University  Public     1      110

                        CIPDESC  CREDLEV          CREDDESC  IPEDSCOUNT1  ...  \
0         Agriculture, General.        3  Bachelors Degree          NaN  ...
1              Animal Sciences.        3  Bachelors Degree          5.0  ...
2  Food Science and Technology.        3  Bachelors Degree          9.0  ...
3  Food Science and Technology.        5   Master's Degree          5.0  ...
4  Food Science and Technology.        6   Doctoral Degree          1.0  ...

   EARN_COUNT_WNE_3YR EARN_CNTOVER150_3YR EARN_COUNT_PELL_NE_3YR  \
0   PrivacySuppressed   PrivacySuppressed      PrivacySuppressed
1   PrivacySuppressed   PrivacySuppressed      PrivacySuppressed
2   PrivacySuppressed   PrivacySuppressed      PrivacySuppressed
3   PrivacySuppressed   PrivacySuppressed      PrivacySuppressed
4   PrivacySuppressed   PrivacySuppressed      PrivacySuppressed

  EARN_PELL_NE_MDN_3YR EARN_COUNT_NOPELL_NE_3YR EARN_NOPELL_NE_MDN_3YR  \
0    PrivacySuppressed        PrivacySuppressed      PrivacySuppressed
1    PrivacySuppressed        PrivacySuppressed      PrivacySuppressed
2    PrivacySuppressed        PrivacySuppressed      PrivacySuppressed
3    PrivacySuppressed        PrivacySuppressed      PrivacySuppressed
4    PrivacySuppressed        PrivacySuppressed      PrivacySuppressed

  EARN_COUNT_MALE_NE_3YR EARN_MALE_NE_MDN_3YR EARN_COUNT_NOMALE_NE_3YR  \
0      PrivacySuppressed    PrivacySuppressed        PrivacySuppressed
1      PrivacySuppressed    PrivacySuppressed        PrivacySuppressed
2      PrivacySuppressed    PrivacySuppressed        PrivacySuppressed
3      PrivacySuppressed    PrivacySuppressed        PrivacySuppressed
4      PrivacySuppressed    PrivacySuppressed        PrivacySuppressed

  EARN_NOMALE_NE_MDN_3YR
0      PrivacySuppressed
1      PrivacySuppressed
2      PrivacySuppressed
3      PrivacySuppressed
4      PrivacySuppressed

[5 rows x 121 columns]

In [6]:
print(list(df))

['UNITID', 'OPEID6', 'INSTNM', 'CONTROL', 'MAIN', 'CIPCODE', 'CIPDESC', 'CREDLEV', 'CREDDESC', 'IPEDSCOUNT1', 'IPEDSCOUNT2', 'DEBT_ALL_STGP_ANY_N', 'DEBT_ALL_STGP_ANY_MEAN', 'DEBT_ALL_STGP_ANY_MDN', 'DEBT_ALL_STGP_EVAL_N', 'DEBT_ALL_STGP_EVAL_MEAN', 'DEBT_ALL_STGP_EVAL_MDN', 'DEBT_ALL_PP_ANY_N', 'DEBT_ALL_PP_ANY_MEAN', 'DEBT_ALL_PP_ANY_MDN', 'DEBT_ALL_PP_EVAL_N', 'DEBT_ALL_PP_EVAL_MEAN', 'DEBT_ALL_PP_EVAL_MDN', 'DEBT_MALE_STGP_ANY_N', 'DEBT_MALE_STGP_ANY_MEAN', 'DEBT_MALE_STGP_ANY_MDN', 'DEBT_MALE_STGP_EVAL_N', 'DEBT_MALE_STGP_EVAL_MEAN', 'DEBT_MALE_STGP_EVAL_MDN', 'DEBT_MALE_PP_ANY_N', 'DEBT_MALE_PP_ANY_MEAN', 'DEBT_MALE_PP_ANY_MDN', 'DEBT_MALE_PP_EVAL_N', 'DEBT_MALE_PP_EVAL_MEAN', 'DEBT_MALE_PP_EVAL_MDN', 'DEBT_NOTMALE_STGP_ANY_N', 'DEBT_NOTMALE_STGP_ANY_MEAN', 'DEBT_NOTMALE_STGP_ANY_MDN', 'DEBT_NOTMALE_STGP_EVAL_N', 'DEBT_NOTMALE_STGP_EVAL_MEAN', 'DEBT_NOTMALE_STGP_EVAL_MDN', 'DEBT_NOTMALE_PP_ANY_N', 'DEBT_NOTMALE_PP_ANY_MEAN', 'DEBT_NOTMALE_PP_ANY_MDN', 'DEBT_NOTMALE_PP_EVAL_N', 'DEBT_NOTMALE_PP_EVAL_MEAN', 'DEBT_NOTMALE_PP_EVAL_MDN', 'DEBT_PELL_STGP_ANY_N', 'DEBT_PELL_STGP_ANY_MEAN', 'DEBT_PELL_STGP_ANY_MDN', 'DEBT_PELL_STGP_EVAL_N', 'DEBT_PELL_STGP_EVAL_MEAN', 'DEBT_PELL_STGP_EVAL_MDN', 'DEBT_PELL_PP_ANY_N', 'DEBT_PELL_PP_ANY_MEAN', 'DEBT_PELL_PP_ANY_MDN', 'DEBT_PELL_PP_EVAL_N', 'DEBT_PELL_PP_EVAL_MEAN', 'DEBT_PELL_PP_EVAL_MDN', 'DEBT_NOPELL_STGP_ANY_N', 'DEBT_NOPELL_STGP_ANY_MEAN', 'DEBT_NOPELL_STGP_ANY_MDN', 'DEBT_NOPELL_STGP_EVAL_N', 'DEBT_NOPELL_STGP_EVAL_MEAN', 'DEBT_NOPELL_STGP_EVAL_MDN', 'DEBT_NOPELL_PP_ANY_N', 'DEBT_NOPELL_PP_ANY_MEAN', 'DEBT_NOPELL_PP_ANY_MDN', 'DEBT_NOPELL_PP_EVAL_N', 'DEBT_NOPELL_PP_EVAL_MEAN', 'DEBT_NOPELL_PP_EVAL_MDN', 'DEBT_ALL_PP_ANY_MDN10YRPAY', 'DEBT_ALL_PP_EVAL_MDN10YRPAY', 'DEBT_ALL_STGP_ANY_MDN10YRPAY', 'DEBT_ALL_STGP_EVAL_MDN10YRPAY', 'EARN_COUNT_NWNE_HI_1YR', 'EARN_CNTOVER150_HI_1YR', 'EARN_COUNT_WNE_HI_1YR', 'EARN_MDN_HI_1YR', 'EARN_COUNT_NWNE_HI_2YR', 'EARN_CNTOVER150_HI_2YR', 'EARN_COUNT_WNE_HI_2YR', 'EARN_MDN_HI_2YR', 'BBRR2_FED_COMP_N', 'BBRR2_FED_COMP_DFLT', 'BBRR2_FED_COMP_DLNQ', 'BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFR', 'BBRR2_FED_COMP_NOPROG', 'BBRR2_FED_COMP_MAKEPROG', 'BBRR2_FED_COMP_PAIDINFULL', 'BBRR2_FED_COMP_DISCHARGE', 'BBRR3_FED_COMP_N', 'BBRR3_FED_COMP_DFLT', 'BBRR3_FED_COMP_DLNQ', 'BBRR3_FED_COMP_FBR', 'BBRR3_FED_COMP_DFR', 'BBRR3_FED_COMP_NOPROG', 'BBRR3_FED_COMP_MAKEPROG', 'BBRR3_FED_COMP_PAIDINFULL', 'BBRR3_FED_COMP_DISCHARGE', 'EARN_COUNT_PELL_WNE_1YR', 'EARN_PELL_WNE_MDN_1YR', 'EARN_COUNT_NOPELL_WNE_1YR', 'EARN_NOPELL_WNE_MDN_1YR', 'EARN_COUNT_MALE_WNE_1YR', 'EARN_MALE_WNE_MDN_1YR', 'EARN_COUNT_NOMALE_WNE_1YR', 'EARN_NOMALE_WNE_MDN_1YR', 'EARN_COUNT_NE_3YR', 'EARN_NE_MDN_3YR', 'EARN_COUNT_WNE_3YR', 'EARN_CNTOVER150_3YR', 'EARN_COUNT_PELL_NE_3YR', 'EARN_PELL_NE_MDN_3YR', 'EARN_COUNT_NOPELL_NE_3YR', 'EARN_NOPELL_NE_MDN_3YR', 'EARN_COUNT_MALE_NE_3YR', 'EARN_MALE_NE_MDN_3YR', 'EARN_COUNT_NOMALE_NE_3YR', 'EARN_NOMALE_NE_MDN_3YR']

In [7]:
col = 'EARN_NE_MDN_3YR' 
col_name = 'Median Earnings After 3 Years' 
freq = df[col].value_counts().rename_axis(col_name).reset_index(name='freq')
freq = freq.sort_values(by = col_name)
print(freq)

      Median Earnings After 3 Years    freq
1                                 0      70
18716                        100013       1
14359                        100026       1
23942                        100047       1
25902                        100085       1
...                             ...     ...
19183                         99907       1
4047                          99948       2
26100                         99954       1
10002                         99981       1
0                 PrivacySuppressed  176471

[29997 rows x 2 columns]

In [18]:
col = 'EARN_NE_MDN_3YR'
df = df.replace([np.inf, -np.inf], np.nan, inplace=True)
#df = df[df[col] != 'PrivacySuppressed']
mean = df[col].mean()
med = df[col].median()
#standev = df[col].std()
#df = df[df[col] != 'PrivacySuppressed']
print(mean)
print(med)
#print(standev)

AttributeError: 'NoneType' object has no attribute 'replace'